.theme1 {
  --masking: linear-gradient(to top, #00000000 10%, #000000 30%);
  --body-bg: linear-gradient(135deg, #ffffff 0%, #dcdcdc 100%);
  --logo: invert(1);
  --link: #000000;
  --nav-bg: #ffffff05;
  --main-heading: #000000;
  --secondary-heading: #333333;
  --text-color: #000000;
  --text-fade: #666666;
  --color: #000000;
  --secondary-color: #333333;
  --primary-color: #222222;
  --btn-bg: linear-gradient(to right, #ffffff, #e0e0e0);
  --btn-bg-hover: linear-gradient(to right, #f0f0f0, #d0d0d0);
  --btn-color: #000000;
  --shadow-color: #00000020;
  --card-bg: #ffffff;
  --skill-bg: #e0e0e0;
  --skill-progress: #888888;
  --minicard-bg: #ededed;
  --border-b: #cccccc;
  --icon-color: #000000;
  --contact-icons-bg: linear-gradient(135deg, #efefef 0%, #cbcbcb 100%);
  --contact-input-bg: #f5f5f5;
}

.theme1.dark {
  --contact-input-bg: #333333;
  --masking: linear-gradient(to top, #00000000 2%, #000000 30%);
  --body-bg: linear-gradient(135deg, #000000 0%, #121212 100%);
  --logo: invert(0);
  --link: #ffffff;
  --nav-bg: #00000005;
  --main-heading: #ffffff;
  --secondary-heading: #f6f6f6;
  --text-color: #e0e0e0;
  --text-fade: #aaaaaa;
  --color: #ffffff;
  --secondary-color: #dddddd;
  --primary-color: #f0f0f0;
  --btn-bg: linear-gradient(to right, #333333, #333333);
  --btn-bg-hover: linear-gradient(to right, #444444, #444444);
  --btn-color: #ffffff;
  --shadow-color: #0000005a;
  --card-bg: linear-gradient(135deg, #2222223c, #0f0f0f20);
  --skill-bg: #444444;
  --skill-progress: #cacaca;
  --minicard-bg: #333333;
  --border-b: #555555;
  --icon-color: #e6e6e6;
  --contact-icons-bg: linear-gradient(135deg, #444444 0%, #777777 100%);
}